<!DOCTYPE html>
   <html>
        
        <head>

            <meta charset="utf-8">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            
            <title>Home_Page</title>
            
            <meta name="description" content="">
            
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <link rel="stylesheet" href="styles.css">

        </head>
        
        <body>   

            <h1 align = "center">Ласкаво просимо до нашого центру послуг <b>hire!</b></h1>

            <p align = "center">
                
                <i>У нашому закладі ви знайдете широкий спектр послуг, спрямованих на задоволення вашого будь-якого запиту та потреби. Незалежно від того, чи потрібна вам консультація, професійна послуга або допомога з вирішенням певних питань, ми завжди тут, щоб надати вам відмінне обслуговування.</i>
            
                <i>Наша команда професіоналів готова допомогти вам у всьому, від консультацій до виконання послуг. Ми прагнемо забезпечити вас найвищою якістю обслуговування та задоволенням результату.</i>
            
                <i>Завітайте до нас сьогодні, і ми з радістю допоможемо вам з усіма вашими потребами та запитами. Ваше задоволення - наш пріоритет!</i>
            </p>
            
            <center>
                <img src="{{ url_for('home1.static', filename = 'images/image_1.png') }}" alt="eror">
            </center>

            <button align = "left" width = 170, heigdth = 180><a href = "https://www.youtube.com">YOUTUBE</button>
            <button align = "center" width = 170, heigdth = 180><a href = "https://shkola.in.ua/728-anhliiska-mova-9-klas-karpiuk-2017.html">English book 'Karpiuk'</button>
            <button align = "right" width = 170, heigdth = 180><a href = "https://www.skyscanner.net/flights/last-minute-deals/?irclickid=_iueu32ykz9kfd09v19c1nrm9he2xd0e2ajmclghq00&associateid=AFF_TRA_19354_00001&utm_medium=affiliate&utm_source=1434500-VEVE.&utm_campaign=Vivo&campaign_id=1434500&utm_content=Last-minute%20flight%20and%20airline%20deals&adgroupid=1274877&click_timestamp=1711093242894&irmweb=&irgwc=1">Plane tickets</button>    


        </body>

    </html>